openapi: 3.0.3
info:
  title: DVI Bridge API
  version: 1.0.0

servers:
  - url: https://dvi.tigertown.net

paths:

  /health:
    get:
      summary: Health check
      operationId: healthCheck
      responses:
        '200':
          description: Server is running

  /dvi/start:
    post:
      summary: Move inspection to "Start" status
      operationId: startInspection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ro_number]
              properties:
                ro_number:
                  type: string
      responses:
        '200':
          description: Inspection moved to start

  /dvi/checklist:
    post:
      summary: Retrieve static test checklist
      operationId: getChecklist
      requestBody:
        required: false
      responses:
        '200':
          description: Checklist loaded

  /dvi/iso_inspection:
    post:
      summary: Perform ISO inspection with optional images, comments, and status changes
      operationId: isoInspection
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ro_number]
              properties:
                ro_number:
                  type: string
                title:
                  type: string
                comments:
                  type: string
                condition:
                  type: string
                image_paths:
                  type: array
                  items:
                    type: string
                move_to_start:
                  type: boolean
                move_to_complete:
                  type: boolean
      responses:
        '200':
          description: ISO inspection processed

  /dvi/upload_image:
    post:
      summary: Upload a temporary image file to the server
      operationId: uploadTempImage
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Image uploaded

  /dvi/iso_complete:
    post:
      summary: Mark ISO inspection complete
      operationId: completeIso
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ro_number]
              properties:
                ro_number:
                  type: string
      responses:
        '200':
          description: ISO complete

  /dvi/pma_complete:
    post:
      summary: Mark PMA process complete
      operationId: completePma
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ro_number]
              properties:
                ro_number:
                  type: string
      responses:
        '200':
          description: PMA complete

  /dvi/qc_complete:
    post:
      summary: Mark QC inspection complete
      operationId: completeQc
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ro_number]
              properties:
                ro_number:
                  type: string
      responses:
        '200':
          description: QC complete
